@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/coure.fon);
}

$font-1: "font-1", sans-serif;

$color-1: #298da8;
$color-2: rgb(46, 86, 145);
$color-3: #282c34;
$backgroundcolor: rgb(28, 25, 48);
$rightcolor : rgb(42, 88, 102);
$leftcolor : rgb(49, 71, 99) ;
$img-background: url('https://i0.wp.com/thumbs.gfycat.com/AcceptableGreedyDutchsmoushond-size_restricted.gif');

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $backgroundcolor ;
  background-size: cover;
  font-family: $font-1;
  // @include verticalCenter;
}
li {
  list-style-type: none;
}
